{% extends "BackendBundle::backend.html.twig" %}

    {% block menu_items %}
        <li class="active"><a href="{{ path('backend_usuario_listar') }}">Usuarios</a></li>
        <li><a href="{{ path('backend_admin_listar') }}">Admins</a></li>
        <li><a href="{{ path('backend_sala') }}">Salas</a></li>
        <li><a href="{{ path('backend_servicio') }}">Servicios</a></li>
        <li><a href="{{ path('backend_noticias') }}">Noticias</a></li>
        <li><a href="{{ path('backend_trabajador') }}">Trabajadores</a></li>
    {% endblock %}

    {% block contenido %}

        <div class="container" style="margin-bottom: 20px;">

        <div class="clearfix" style="height: 100%;width: 95%">
        <div class="col-lg-12">

            <h1>Usuarios</h1>

            <table class="table table-striped">
                <tr>
                    <th> </th>
                    <th>Usuario</th>
                    <th>CI</th>
                    <th>Pa&iacute;s</th>
                    {#<th>Fecha Nacimiento</th>#}
                    <th>Nombre de Usuario</th>
                    <th>E-mail</th>
                    <th>Direcci&oacute;n</th>
                    <th>Acci&oacute;n</th>
                </tr>

                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ usuario }}</td>
                        <td>{{ usuario.ci }}</td>
                        <td>{{ usuario.pais }}</td>
                        {#<td>{{ usuario.fechaNacimiento }}</td>#}
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.direccion }}</td>
                        <td>
                            <a href="{{ path('backend_usuario_editar', { 'id': usuario.id }) }}" class="btn btn-primary">Editar</a>
                            <a href="{{ path('backend_usuario_borrar', { 'id': usuario.id }) }}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ path('backend_usuario_registro') }}" class="btn btn-default">Añadir Usuario</a>
        </div>
        </div>
        </div>

    {% endblock %}
