{% extends 'HPTDefaultBundle::layout.html.twig' %}

{% block menu_items %}
    <li><a href="{{ path('admin_usuario_listar') }}">Usuarios</a></li>
    <li><a href="{{ path('sala') }}">Salas</a></li>
    <li><a href="{{ path('servicio') }}">Servicios</a></li>
    <li class="active"><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('trabajador') }}">Trabajadores</a></li>
{% endblock %}

    {% block menu_usuario %}
        <li>{% render controller('UsuarioBundle:Default:cajaLogin')%}</li>
    {% endblock %}


    {% block contenido%}

        {#<form class="form-horizontal">#}
        {#{{ form(form) }}#}
        {#</form>#}

        {#<form action="{{ path('noticias_new') }}" method="post"#}
        {#{{ form_enctype(form) }}>#}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">
                        <fieldset>
                            <legend  style="width: 20em;">Publicar Noticia</legend>

                            {{ form_start(form) }}


                            <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form) }}</div>
        <div class="form-error">{{ form_errors(form.titular) }}</div>
        <label class="control-label">{{ form_label(form.titular) }}</label>
        <div class="controls">{{ form_widget(form.titular, { 'attr': {
            'accesskey' : 'n',
            'tabindex' : 1,
            'placeholder' : "Titulo de la Noticia . . ."
            }}) }}</div>
        </span>
                            </div>

                            <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form.nombreAutor) }}</div>
        <label class="control-label">{{ form_label(form.nombreAutor) }}</label>
        <div class="controls">{{ form_widget(form.nombreAutor, { 'attr': {
            'accesskey' : 'n',
            'tabindex' : 1,

            'placeholder' : "Autor . . ."}}) }}</div>
            </span>
                            </div>

                            <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form.categoria) }}</div>
        <label class="control-label">{{ form_label(form.categoria) }}</label>
        <div class="controls">{{ form_widget(form.categoria, { 'attr': {
            'accesskey' : 'n',
            'tabindex' : 1,

            'placeholder' : "Categoria . . ."}}) }}</div>
            </span>
                            </div>

                            <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form.fechaArticulo) }}</div>
        <label class="control-label">{{ form_label(form.fechaArticulo) }}</label>
        <div class="controls">{{ form_widget(form.fechaArticulo)}}</div>
            </span>
                            </div>

                            <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form.texto) }}</div>
        <label class="control-label">{{ form_label(form.texto) }}</label>
        <div class="controls">{{ form_widget(form.texto)}} </div>
            </span>
                            </div>

                            <div class="control-group" style="width: 15em;">
        <span>

         <div class="form-error">{{ form_errors(form.foto) }}</div>
        <label class="control-label">{{ form_label(form.foto,'Fotografia') }}</label>
        <div class="controls">{{ form_widget(form.foto)}}</div>
            {#<p class="ayuda">Tamaño máximo: 500KB</p>#}

            </span>
                            </div>

                            <div class="control-group">
                                <div class="controls">

                                    {#<div class="btn btn-primary"  >{{ form_widget(form.submit) }}</div>#}
                                    <button class="btn btn-primary" type="submit" >Publicar</button>
                                    <a href="{{ path('sala') }}" class="btn btn-large disabled">Salas</a>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </fieldset>
                    </div>



                    {#<a href="{{ path('sala') }}" class="btn btn-large btn-primary disabled">Salas</a>#}
                </div>
            </div>
        </div>
        {#</form>#}
    {% endblock %}


{% block contactanos_footer %}
{% endblock %}