{% extends 'HPTDefaultBundle::layout.html.twig' %}

{% block title 'Salvador Allende' %}

{% block menu_items %}
    <li><a href="{{ path('admin_usuario_listar') }}">Usuarios</a></li>
    <li class="active"><a href="{{ path('sala') }}">Salas</a></li>
    <li><a href="{{ path('servicio') }}">Servicios</a></li>
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('trabajador') }}">Trabajadores</a></li>
{% endblock %}

{% block menu_usuario %}
    <li>{% render controller('UsuarioBundle:Default:cajaLogin')%}</li>
{% endblock %}

{% block contenido%}

{#<form class="form-horizontal">#}
    {#{{ form(form) }}#}
{#</form>#}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
    <div class="form-horizontal">
    <fieldset>
        <legend  style="width: 20em;">Crear Sala </legend>

    {{ form_start(form) }}


    <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form) }}</div>
        <div class="form-error">{{ form_errors(form.nombre) }}</div>
        <label class="control-label">{{ form_label(form.nombre) }}</label>
        <div class="controls">{{ form_widget(form.nombre, { 'attr': {
            'accesskey' : 'n',
            'tabindex' : 1,
            'placeholder' : "Nombre de la Sala . . ."
            }}) }}</div>
        </span>
    </div>

    <div class="control-group" style="width: 15em;">
        <span>
        <div class="form-error">{{ form_errors(form.codigo) }}</div>
        <label class="control-label">{{ form_label(form.codigo) }}</label>
        <div class="controls">{{ form_widget(form.codigo, { 'attr': {
            'accesskey' : 'n',
            'tabindex' : 1,

            'placeholder' : "Codigo de la Sala . . ."}}) }}</div>
            </span>
    </div>

    <div class="control-group">
        <div class="controls">

            {#<div class="btn btn-primary"  >{{ form_widget(form.submit) }}</div>#}
            <button class="btn btn-primary" type="submit" >Guardar</button>
            <a href="{{ path('sala') }}" class="btn btn-large disabled">Salas</a>
        </div>
    </div>

    {{ form_end(form) }}
        </fieldset>
</div>



    {#<a href="{{ path('sala') }}" class="btn btn-large btn-primary disabled">Salas</a>#}
</div>
        </div>
    </div>

{% endblock %}




        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('sala') }}">#}
            {#Atr&aacute;s,Sala#}
        {#</a>#}
    {#</li>#}
{#</ul>#}

